@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?22685962');
  src: url('fonts/fontello.eot?22685962#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?22685962') format('woff2'),
       url('fonts/fontello.woff?22685962') format('woff'),
       url('fonts/fontello.ttf?22685962') format('truetype'),
       url('fonts/fontello.svg?22685962#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22685962#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-globe:before { content: '\e801'; } /* 'î ' */


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: 'Ubuntu', Arial, sans-serif;
}

body {
  background: #e0e0e0;
}

main {
  width: 1020px;
  margin: auto;
}

.keyboard {
  display: grid;
  grid-row-gap: 1px;
  padding: 5px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
  background: #2c2c2c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid #222;
  max-width: 500px;
}

.keyboard__row {
  display: grid;
  grid-gap: 1px;
  grid-row-gap: 1px;
  height: 30px;
}

.keyboard__key {
  max-width: 35px;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.75), rgba(255,255,255,.35));
  box-shadow: inset rgba(0,0,0,.75) -1px -1px 2px, inset rgba(255,255,255,.9) 1px 1px 2px, rgba(0,0,0,.8) 1px 1px 2px -1px;
  transition: all .2s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  user-select: none;
}

[data-fn="false"].active {
  box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.9), inset 0 0 20px 2em rgba(255,255,255,.2);
}

[data-fn="true"].active {
  box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.9), inset 0 0 20px 2em rgba(255,255,255, 0);
}

[data-fn="false"].active .letter,
[data-fn="true"].active .letter {
  transform: translateY(1px)  ;
  -webkit-transform: translateY(1px)  ;
  -moz-transform: translateY(1px)  ;
  -ms-transform: translateY(1px)  ;
  -o-transform: translateY(1px)  ;
  color: #244618;
}

[data-fn="true"] {
  background: rgb(78, 78, 78) radial-gradient(circle at 0 0, rgba(136, 134, 134, 0.65), rgba(167, 167, 167, 0.35));
  box-shadow: inset rgba(0,0,0,.75) -1px -1px 2px, inset rgba(161, 160, 160, 0.9) 1px 1px 2px, rgba(0,0,0,.8) 1px 1px 2px -1px;
}

[data-fn="true"] > .letter {
  font-size: 10px;
}

[data-code="CapsLock"] {
  width: auto;
  min-width: 55px;

}

[data-code="ShiftLeft"] {
  width: auto;
  min-width: 50px;
}

[data-code="ShiftRight"] {
  width: auto;
  min-width: 70px;
}

[data-code="Enter"] {
  width: auto;
  min-width: 65px;
}

[data-code="Tab"] {
  width: auto;
  min-width: 45px;
}

[data-code="ControlLeft"] {
  width: auto;
}

[data-code="ControlRight"] {
  width: auto;
}

[data-code="Win"] {
  background: rgb(125, 253, 75);
  min-width: 60px;
}

[data-code="Backspace"] {
  width: auto;
  min-width: 57px;
}

[data-code="Space"] {
  width: auto;
  min-width: 200px;
}

[data-code="Delete"] {
  width: auto;
  min-width: 40px;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 100%;
}

[data-code="ArrowLeft"],
[data-code="ArrowUp"],
[data-code="ArrowDown"],
[data-code="ArrowRight"] {
  background: #61d035;
}


.active {
  background: rgb(60, 212, 0);
}

.letter {
  font-size: 16px;
  width: 100%;
  text-align: center;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform-origin: center;
}

.subtitle, .hint {
  color: #666;
}

.sub {
  font-size: 8px;
  width: 100%;
  color: #68688a;
  text-align: left;
  padding-left: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.sub.sub-active:not(:empty) {
  color: rgb(19, 80, 0);
  font-size: 14px;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  color: #68688a;
  font-size: 12px;
  text-align: center;
  padding-right: 5px;
  width: 40%;
  transform-origin: center;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}
}